name: Generate Pacman Contribution Graph

on:
  schedule:
    # Roda a cada 4 horas
    - cron: '0 */4 * * *'
  # Permite rodar manualmente
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    
    # Adiciona explicitamente permissão de escrita (WRITE) ao GITHUB_TOKEN
    permissions:
      contents: write
      
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          # Necessário para que a Action possa acessar a branch de saída
          fetch-depth: 0 
          
      - name: Generate Pacman Contribution Graph
        # Usando a Action que você especificou
        uses: abozanona/pacman-contribution-graph@main
        with:
          # A Action que você está usando parece usar 'github_user_name'
          github_user_name: OlavoMeira 
          # Usamos o GITHUB_TOKEN padrão com permissões de 'write'
          github_token: ${{ secrets.GITHUB_TOKEN }}
          
      # A Action 'abozanona/pacman-contribution-graph' faz o push internamente.
      # Não precisamos de um passo de push separado.
