name: Generate Pacman Contribution Graph

on:
  schedule:
    - cron: '0 */4 * * *'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout Repository (using PAT)
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.PACMAN_TOKEN }} 
          
      - name: Generate Pacman Contribution Graph and Push to 'output' Branch (using PAT)
        uses: abozanona/pacman-contribution-graph@main
        with:
          github_user_name: OlavoMeira 
          # PASSAMOS O PAT AQUI PARA O PUSH!
          github_token: ${{ secrets.PACMAN_TOKEN }} 
          output_branch: output
