name: Generate Pacman Contribution Graph

on:
  schedule:
    # Roda a cada 4 horas para manter o gráfico atualizado
    - cron: '0 */4 * * *'
  # Permite rodar manualmente através da aba 'Actions'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    
    # Adiciona permissões de escrita (WRITE) ao GITHUB_TOKEN padrão
    permissions:
      contents: write
      
    steps:
      - uses: actions/checkout@v4
        with:
          # Isso é necessário para que a Action possa acessar a branch de saída
          fetch-depth: 0 
          
      - name: Generate Pacman Contribution Graph
        # Usa a Action de terceiros para gerar o gráfico
        uses: abozanona/pacman-contribution-graph@main
        with:
          # Usamos o GITHUB_TOKEN padrão com permissões de 'write' acima
          github_token: ${{ secrets.GITHUB_TOKEN }}
          user_id: OlavoMeira 
          # A branch onde o SVG será salvo.
          output_branch: output 
          theme_dark: dracula
          theme_light: default

      # Não precisamos de um passo de push separado.
      # A Action 'abozanona/pacman-contribution-graph' faz o push internamente.
