name: Generate Pacman Contribution Graph

on:
  schedule:
    - cron: '0 */4 * * *'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    
    # Removendo 'permissions' pois o PAT tem autoridade total
    
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          # Usamos o PAT para o checkout também, para garantir o push.
          token: ${{ secrets.PACMAN_TOKEN }} 
          ref: main
          
      - name: Generate Pacman Contribution Graph
        # A Action de geração ainda usa o GITHUB_TOKEN
        uses: abozanona/pacman-contribution-graph@main
        with:
          github_user_name: OlavoMeira 
          github_token: ${{ secrets.GITHUB_TOKEN }}
          
      # PASSO CRÍTICO: Push usando o PAT
      - name: Push new graph to main branch
        uses: ad-m/github-push-action@master 
        with:
          # AQUI USAMOS O PAT, que tem a permissão de escrita
          github_token: ${{ secrets.PACMAN_TOKEN }} 
          branch: main 
          force: true 
          # O arquivo gerado é pacman-graph.svg
          commit_message: "feat: Atualiza Pac-Man contribution graph"
