name: Generate Pacman Contribution Graph

on:
  schedule:
    - cron: '0 */4 * * *'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    
    permissions:
      contents: write # Permissão de escrita para o GITHUB_TOKEN
      
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          # Faz o checkout da branch principal (main)
          ref: main
          
      - name: Generate Pacman Contribution Graph
        # Esta Action gera o arquivo SVG na pasta local
        uses: abozanona/pacman-contribution-graph@main
        with:
          github_user_name: OlavoMeira 
          github_token: ${{ secrets.GITHUB_TOKEN }}
          # Não vamos usar o output_branch aqui, pois o push será feito separadamente
          
      # PASSO CRÍTICO: Forçar o Push do arquivo SVG gerado
      - name: Push new graph to main branch
        uses: ad-m/github-push-action@master # Usando a Action de push correta
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: main # Empurra de volta para a branch 'main'
          # A Action do Pacman gera por padrão o arquivo na raiz
          force: true
